.my-group {
  width: 100%;
  height: 300px;
  background-color: var(--white-color);
  margin-top: 25px;
  padding: 13px 0px 13px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.my-group-container {
  overflow-y: auto;
  scrollbar-width: thin;
  height: 93%;
  padding-right: 20px;
}
.my-group-container::-webkit-scrollbar {
  width: 5px;
}
.my-group-container::-webkit-scrollbar-thumb {
  border-top-right-radius: 5px;
  background-color: #755feb;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.my-group-header h5 {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 20px;
  color: var(--black);
  margin-bottom: 10px;
}
.my-group-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.my-group-wrapper:last-child {
  border-bottom: none;
}
.show-back-icon svg {
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.my-group-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.my-group-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.my-group-name {
  width: 225px;
  margin-top: 10px;
}
.my-group-name h5 {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
}
.my-group-date {
  width: 140px;
  padding-top: 13px;
}
.my-group-date p {
  font-family: var(--poppins);
  font-size: 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
.friend-request-btn .accept {
  background: none !important;
  border: none !important;
  width: 100%;
  background-color: var(--primary-color) !important;
  font-family: var(--poppins);
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 3px;
  padding: 2px;
}
.friend-request-btn .remove {
  background: none !important;
  border: none !important;
  width: 100%;
  background-color: rgba(112, 155, 63, 0.949) !important;
  font-family: var(--poppins);
  font-weight: 600;
  color: var(--white-color);
  padding: 2px;
}
.friend-request-btn .reject {
  background: none !important;
  border: none !important;
  width: 100%;
  background-color: rgba(208, 68, 36, 0.949) !important;
  font-family: var(--poppins);
  font-weight: 600;
  color: var(--white-color);
  padding: 2px;
}
/* modal css */
.modal-desing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: aliceblue;
  padding: 4px;
  border-radius: 5px;
}
.modal-head {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
}
.modal-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.modal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modalmane {
  width: 200px;
  margin-left: 10px;
}
