.forgot-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forgot-box {
  padding-top: 10px;
  border-radius: 10px;
  height: 100%;
  width: 500px;
  height: 200px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
}
.forgot-box p {
  font-size: 22px;
  font-family: var(--nunito);
  font-weight: 500;
  color: var(--title-color);
  text-align: center;
}
.reset-inputs {
  width: 70% !important;
  margin: 10px 0px 20px 70px !important;
}
.reset-button {
  width: 35% !important;
  margin-left: 160px !important;
}
.forgot-errors {
  text-align: center;
  margin-bottom: 10px;
  margin-top: -12px;
}
.forgot-errors h3 {
  color: rgb(185, 28, 28);
  font-weight: 400;
}
